@import "../../../Theme/sass/abstract/variables";

.wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $db-dialog-backdrop;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $db-dialog-wrapper-z-index;

  + div {
    pointer-events: none;
  }
}

.dialog {
  max-width: $db-dialog-width;
  max-height: calc(50% - 4rem);
  min-height: $db-dialog-height;
  width: calc(100% - 4rem);
  border-radius: $border-radius;
  background-color: $db-dialog-bg-color;
  box-shadow: $db-dialog-box-shadow;
  display: flex;
  flex-direction: column;
  
  @media (max-height: 640px) {
    min-height: calc(100% - 4rem);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $db-dialog-padding-v $db-dialog-padding-h;
  border-bottom: 1px solid $border-color;
}

.title {
  font-size: $db-dialog-title-font-size;
  font-family: $db-dialog-title-font-family;
  margin: 0;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $db-dialog-padding-v $db-dialog-padding-h 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  border-top: 1px solid $border-color;
  display: flex;
  justify-content: flex-end;
  padding: $db-dialog-padding-v $db-dialog-padding-h;
}
